.select {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  box-shadow: 0 0 1px black;
  color: white;
}

.wrong {
  background-color: red;
  border: 3px solid red;
  box-shadow: 0 0 1px black;
  color: white;
}
